<!DOCTYPE html>
<html class="grid" lang="is">

<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta charset="utf-8">
    <title><%- title %></title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
    <%- body %>
</body>

</html>