<body>
    <main class="page__layout">
        <div class="video__player">
            <video controls class="player" src="videos/bunny.mp4" type="video/mp4">
            </video>
        </div>
        <div class="video__description">
            <p>Lorem ipsum dori me matiro ti mere, ameno</p>
        </div>
        <h2>Tengd myndbönd</h2>
        <div class="videos__row">

            <div class="videos__col">
                <a class="video__card" href="/video">
                    <div class="video">
                        <div class="video__image">
                            <img class="video__img" src="videos/bunny.png" alt="">
                            <div class="video__duration"><b>420:69</b></div>
                        </div>
                    </div>
                    <div>
                        <div class="video__content">
                            <h3 class="video__title">Kanína á kreik</h3>
                            <p class="video__age"> Fyrir 69 árum síðan</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="videos__col">
                <a class="video__card" href="/video">
                    <div class="video">
                        <div class="video__image">
                            <img class="video__img" src="videos/bunny.png" alt="">
                            <div class="video__duration"><b>420:69</b></div>
                        </div>
                    </div>
                    <div>
                        <div class="video__content">
                            <h3 class="video__title">Kanína á kreik</h3>
                            <p class="video__age"> Fyrir 69 árum síðan</p>
                        </div>
                    </div>
                </a>
            </div>


            <div class="videos__col">
                <div class="spacer">
                </div>
            </div>
        </div>
        <hr class="line" style="width:80%;display:center;">
        <div class="back__link">
            <a href="/">
                <p>Til Baka<p>
            </a>
        </div>
    </main>
</body>