@import 'config.scss';
@import 'video__styles.scss';
$page: 1200px;
$index-font: 'Franklin Gothic Medium',
  'Arial Narrow',
  arial,
  sans-serif;
$gutter: 20px;
$white: rgb(255, 245, 223);

* {
  margin: 0;
  padding: 0;
  transition: 0.2s ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.grid {
  box-sizing: border-box;
  font-family: $index-font;
  font-size: 16px;
  overflow-wrap: break-word;
  overflow-x: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
}

.header {
  margin: 2rem 0;
  padding: 1rem;
}

.header-h1 {
  text-align: center;
}

.videos-title {
  font-size: 2rem;
  margin: 1rem 0;
}

.page-layout {
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 90vw;
  width: $page;
}

.videos-row {
  display: flex;
  flex-wrap: wrap;
  //flex-direction: column;
  //  align-items: left;
  justify-content: space-between;
}

.videos-col {
  margin: 2rem 0;
  width: 100%;
}

.video-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.video-image {
  width: 100%;
}

.video-img {
  width: 100%;
}

@media screen and (min-width: 801px) {
  .videos-col {
    width: 48%;
  }
}

@media screen and (min-width: 1240px) {
  .videos-col {
    width: 32%;
  }
}

.video {
  position: relative;
}

/* In case the last line contains 2 videos */
.spacer {
  display: none;
  height: 0;
}

.video-duration {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 2%;
  color: $white;
  padding: 0.1rem 0.5rem;
  position: absolute;
  right: 0.5rem;
  text-decoration: none;

  &b {
    color: $white !important;
  }
}

.video-content {
  margin: 1rem 0;
}

.video-title {
  margin: 1rem 0 0;
}

.video-age {
  margin: 1rem 0;
}

.line {
  margin: 60px;
}
