@import 'config';
@import 'video__styles';

* {
  margin: 0;
  padding: 0;
  transition: 0.2s ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.grid {
  box-sizing: border-box;
  font-family: $index-font;
  font-size: $font-size;
  overflow-wrap: break-word;
  overflow-x: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
}

.header {
  margin: 2rem 0;
  padding: 1rem;
}

.header-h1 {
  text-align: center;
}

.videos-title {
  font-size: 2rem;
  margin: 1rem 0;
}

.page-layout {
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 90vw;
  width: $pc-page;
}

.videos-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.videos-col {
  width: 100%;
}

.video-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.video-image {
  width: 100%;
}

.video-img {
  width: 100%;
}

@media screen and (min-width: $tablet-page) {
  .videos-col {
    width: 48%;
  }
}

@media screen and (min-width: $pc-page) {
  .videos-col {
    width: 32%;
  }
}

.video {
  position: relative;
}

/* In case the last line contains 2 videos */
.spacer {
  display: none;
}

.video-duration {
  background-color: $time-background;
  bottom: 4%;
  color: $white;
  padding: 0.1rem 0.5rem;
  position: absolute;
  right: 1%;
  text-decoration: none;
/* stylelint-disable */
  & .stamp {
    color: $white;
  }
/* stylelint-enable */
}

.video-content {
  margin: 1rem 0;
}

.video-title {
  margin: 1rem 0 0;
}

.video-age {
  margin: 1rem 0 2rem;
}

.line {
  margin: 50px;
}
