$video-font: 'Franklin Gothic Medium',
'Arial Narrow',
Arial,
sans-serif;
$font-size: 18px;
$page-size: 1240px;

.video__page {
  width: 100%;
  max-width: $page-size;
  margin: 0 auto;
  font-family: $video-font;
  font-size: $font-size;
}

.player {
  width: 100%;
}

.video__header__h1 {
  font-size: 2.6rem;
}

.video__page__description {
  margin-left: 2rem;
}

@media screen and (min-width: 500px) {
  .video__page {
    width: 90%;
  }

  .video__page__description {
    margin: 2rem 0 2rem 0;
  }
}

.Video__header__h1 {
  font-size: 2rem;
}

a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;

  /* no underline */
  & :hover {
    color: blue;
  }
}

.video__description {
  margin: 2rem 0 2rem 0;
}

.back__link {
  font-size: 1.3rem;
  margin: 2rem 0 2rem 0;
}

//sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
