$video-font: 'Franklin Gothic Medium',
  'Arial Narrow',
  arial,
  sans-serif;
$font-size: 18px;
$page-size: 1240px;
$blue: rgb(0, 0, 255);

.video-page {
  font-family: $video-font;
  font-size: $font-size;
  margin: 0 auto;
  max-width: $page-size;
  width: 100%;
}

.player {
  width: 100%;
}

.video-header-h1 {
  font-size: 2.6rem;
}

.video-page-description {
  margin-left: 2rem;
}

@media screen and (min-width: 500px) {
  .video-page {
    width: 90%;
  }

  .video-page-description {
    margin: 2rem 0;
  }
}

a {
  color: inherit;

  /* blue colors for links too */
  text-decoration: inherit;

  &:hover {
    color: $blue;
  }
}

.video-description {
  margin: 2rem 0;
}

.back-link {
  font-size: 1.3rem;
  margin: 2rem 0;
}

//sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
