@import 'config';

.video-page {
  font-family: $video-font;
  font-size: $font-size;
  margin: 0 auto;
  max-width: $pc-page;
  width: 100%;
}

.player {
  width: 100%;
}

.video-page-description {
  margin-left: 2rem;
}

@media screen and (min-width: $tablet-page) {
  .video-page {
    width: 90%;
  }

  .video-page-description {
    margin: 2rem 0;
  }
}

a {
  color: inherit;

  /* blue colors for links too */
  text-decoration: inherit;

  &:hover {
    color: $blue;
  }
}

.video-description {
  margin: 2rem 0;
}

.back-link {
  font-size: 1.3rem;
  margin: 2rem 0;
}

//sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
