<body>
    <header class="header" id="header">
      <h1 class="header__h1"><%- videoData.title %></h1>
    </header>
    <main class="page__layout">
        <div class="video__player">
            <video controls class="player" src="<%- videoData.video %>" type="video/mp4">
            </video>
        </div>
        <div class="video__description">
            <p><%- videoData.description %></p>
        </div>
        <h2>Tengd myndbönd</h2>
        <div class="back__link">
            <a href="/">
                <p>Til Baka<p>
            </a>
        </div>
    </main>
</body>