<body>
    <header class="header" id="header">
        <h1 class="header-h1">
            <%- videoData==null? "Fræðslumyndbandaleigan<hr style='margin:2rem;'>" : videoData.title %>
        </h1>
    </header>
    <main class="video-page">
        <% if(videoData !=null) { %>
            <div class="video-player">
                <video controls class="player" src=".<%- videoData.video %>" type="video/mp4">
                </video>
            </div>
            <div class="video-page-description">
                <div>
                    <p>
                        <%- videoData.description %>
                    </p>
                </div>
                <div class="back-link">
                    <a href="/">
                        <p>Til Baka<p>
                    </a>
                </div>
            </div>
            <% } else { %>
            <H2><%- title %></H2>
            <div class="back-link">
                <a href="/">
                    <p>Til Baka<p>
                </a>
            </div>
            <% } %>
    </main>
</body>